*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: darkslategray;
    color: white;
}
.container{
    margin: 30px auto 20px ;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.startBtn{
    width: 30%;
    margin-bottom: 10px;
    height: 50px;
    background-color: #83ece7;
    cursor: pointer;
    border-radius: 20px;
}
.gnrMemes{
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}
.gnrMemes img{
    width: 120px;
    height: 120px;
}
.gallery_img {
    width: 200px;
}

/*.uploadBtn{*/
/*    width: 200px;*/
/*    height: 100px;*/
/*    position: static;*/
/*    margin: 0 auto;*/
/*    display: block;*/
/*    cursor: pointer;*/
/*}*/
#image{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    right: 30px;
}
.inpFile{
}
.label {
    align-items: center;
    color: #31343e;
    font-family: Raleway,sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    line-height: 1;
    color: aqua;
}
.label2{
    font-family: Raleway,sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    float: top;

    font-size: 15px;
    line-height: 1;
    color: aqua;
}
.inpFile{
    /*width: 20px;*/
    /*height: 20px;*/
    display: block;
    cursor: pointer;
}
.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    border-width: 10px;
    background-color: #161615   ;
}
.header_logo{
    display: flex;
    justify-content: space-between;
    /*margin: 40px 10px;*/
}
.header_logo-info{
    margin:auto 0;
}
.logo{
    width: 110px;
    height: 100px;
}
.input{
    display: flex;
    width: calc(100% - 30px);
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow:auto;
}
.btn{
    background: url("http://cdn.onlinewebfonts.com/svg/img_373333.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    float: right;

    background-color: #83ece7;
}
.sign_in{
    width: 250px;
    height: 35px;
    float: right;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
    margin-top: 10px;
}
.sign_up{
    width: 250px;
    height: 35px;
    float: right;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer ;
    margin-top: 10px;
}
.div_block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.changeMemes{
    width: 250px;
    height: 250px;
    margin-top: 30px;
}
.goToChange{
    width: 350px;
    height: 55px;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer ;
    margin-top: 10px;
}
.txt{
    font-family: Raleway,sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.btn2{
    width: 350px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
}
.download{
    width: 350px;
    height: 60px;
    margin-top: 10px;
    border-radius: 10px;
}
.block_row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.changeImg{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.successImg{
    margin-top: 10px;
}
.howToDownload{
    font-family: Raleway,sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    float: top;
    font-size: 15px;
    line-height: 1;
    color: aqua;
}
.howToDownload2{
    font-family: Raleway,sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    float: top;
    font-size: 15px;
    line-height: 1;
    color: aqua;
}
.inst{
    width: 50px;
    height: 50px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    justify-content: space-around;
    bottom: 100px;
    border-radius: 91px;
    background: #e0e0e0;
    background: url("https://images.vexels.com/media/users/3/137380/isolated/preview/1b2ca367caa7eff8b45c09ec09b44c16-instagram-icon-logo.png");
    background-size: cover;
    cursor: pointer;
}
.div_block2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.div_block_row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}